#wrapper-footer {
    background: $dark;
    color: $light;
    font-size: 13px;

    a {
        color: $light;
    }

    &-full {
        // @include make-container();
        @extend .container;
        background: $light;
        display: grid;
        font-size: 13px;

        .footer-widget {
            h2 {
                font-size: 13px;
            }
            padding: 2em;
        }

        ul {
            list-style: none;
            padding: 0;
            li {
                padding-left: 1.3em;
                &:before {
                    content: "\f004";
                    font-family: FontAwesome;
                    display: inline-block;
                    margin-left: -1.3em;
                    width: 1.3em;
                }
                li:before {
                    content: "\f08a";
                }
            }
        }
    }
}
